@model IEnumerable<VirtualGameStore.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h2>List Of Events</h2>

@if (Model.Count() != 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Eventname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Startdate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Enddate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Eventname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Startdate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Enddate)
                    </td>
                    <td>
                        @{
                            bool registered = false;
                            foreach (var id in ViewBag.Registered)
                            {
                                if (id == item.Eventid)
                                {
                                    registered = true;
                                }
                            }

                            if (registered)
                            { 
                                <p>Registered</p>
                            }
                            else
                            {
                                <input type="button" onclick="location.href = '@(Url.Action("Register", "EventGames", new { userID = ViewData["UserId"], eventID = item.Eventid }))'" id="register" value="Register" />
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <table>
        <tr>
            <td>No Upcoming Events</td>
        </tr>
    </table>
}

