@model VirtualGameStore.Models.Wishlist

@{
    ViewData["Title"] = "Wish Details";
}

<h2>Details of Wish</h2>

<div>
    <h4>Wish List</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Access)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Access)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.CreatedDatetime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDatetime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedUserid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedUserid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDatetime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedDatetime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedUserid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedUserid)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.Game)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Game.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Usertype)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Wishlistid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
