@model IEnumerable<VirtualGameStore.Models.Wishlist>

@{
    ViewData["Title"] = "Wish Lists";
}

<h2>Wish Lists</h2>

<p>
    <a asp-action="Create">Add Wish List</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Access)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.CreatedDatetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedUserid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDatetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedUserid)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Access)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.CreatedDatetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUserid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDatetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedUserid)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Game.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Usertype)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Wishlistid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Wishlistid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Wishlistid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
