@model IEnumerable<VirtualGameStore.Models.Wishlist>

@{
    ViewData["Title"] = "Wish List";
}

<h2>Wish Lists</h2>

<p>
    <a asp-action="Create" id="addWish">Add Wish List</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Price)
            </td>
            <td>
                <a asp-action="Remove" asp-route-id="@item.Wishlistid">Remove</a>
            </td>
        </tr>
}
    </tbody>
</table>
