@model IEnumerable<VirtualGameStore.Models.Friends>
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

@{
    String displayName = HttpContextAccessor.HttpContext.Session.GetString("DisplayName");
    ViewData["Title"] = "Index";
}

<h2>Friends</h2>

<p style="color:red;">@ViewBag.Message</p>
@if (Model.Count() != 0)
{
    <table class="table">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FriendUser.DisplayName)
                    </td>
                    <td>
                        <a asp-action="Delete" id="Delete" asp-route-id="@item.Friendid">Delete</a>
                        | <input type="button" onclick="location.href = '@(Url.Action("View", "wishlists", new { id = item.FriendUserid}))'" value="View Friends Wishlist" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <table class="table">
        <tbody>
            <tr>
                <td>No Friends Or Family Added</td>
            </tr>
        </tbody>
    </table>
}
<input type="button" onclick="location.href = '@(Url.Action("Create", "Friends"))'" value="Add Friends" />