@model IEnumerable<VirtualGameStore.Models.Favorite>
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Favorites";
    String displayName = HttpContextAccessor.HttpContext.Session.GetString("DisplayName");
}

<h2>Your Favorites</h2>

<p>
    <a asp-action="Create" id="createFav">Add New Favorite</a>
</p>
@if (displayName != null && displayName != "")
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Platform)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Categoriname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Platform.Platformname)
                    </td>
                    <td>
                        <a asp-action="Remove" asp-route-id="@item.Favoritid">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

