@model VirtualGameStore.Models.Game
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Game Details";
    String displayName = HttpContextAccessor.HttpContext.Session.GetString("DisplayName");
    String isAdmin = HttpContextAccessor.HttpContext.Session.GetString("isAdmin");
}

<h2>Details of @Html.DisplayFor(model => model.Title)</h2>

<div>
    @*<h4>Game </h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LaunchDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LaunchDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category.Categoriname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Categoriname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Company.CompanyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Cart" asp-action="Buy" asp-route-id="@Model.Gameid" id="addCart">Add to Cart</a> |
    <a asp-action="Index">Back to List</a>

</div>

<h2>Overall Rating: @ViewBag.avgRates</h2>
<p>
    <a asp-controller="Gamerates" id="rateGame" asp-action="Create" asp-route-Gameid="@Model.Gameid">Rate Game</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                User
            </th>
            <th>
                Game Rates
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Gamerates)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rates)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if(isAdmin != null && isAdmin.Equals("true"))
                    {
                        <a asp-action="Remove" asp-controller="Gamerates" asp-route-id="@item.Rateid">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
