@model IEnumerable<VirtualGameStore.Models.Game>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Game List";
}

<h2>List of Games</h2>

@if (ViewBag.isAdmin != null && ViewBag.isAdmin.ToString() == "true")
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LaunchDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Platform)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LaunchDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Categoryid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.CompanyName)
            </td>
            <td\>
                @Html.DisplayFor(modelItem => item.Platform.Platformid)
            </td\>
                @if (ViewBag.isAdmin != null && ViewBag.isAdmin.ToString() == "true")
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Gameid">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Gameid">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Gameid">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
