@model VirtualGameStore.Models.Order

@{
    ViewData["Title"] = "Checkout";
}

@using System;
@using System.Collections.Generic;
@using System.Linq;
@using VirtualGameStore.Models;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

@{
    List<Item> carts = new List<Item>();
    String cart = HttpContextAccessor.HttpContext.Session.GetString("cart");
    String[] rows = null;

    if (cart != null)
    {
        rows = cart.Split(",");
    }

    Decimal total = 0;
    if (rows != null && rows.Length > 0)
    {
        foreach (String row in rows)
        {
            if (!row.Equals(""))
            {
                String[] items = row.Split(";");

                Game g = new Game();
                g.Gameid = Convert.ToDecimal(items[0]);
                g.Title = items[1];
                g.Price = Convert.ToDecimal(items[2]);
                int q = Convert.ToInt32(items[3]);

                Item item = new Item { Game = g, Quantity = q };

                carts.Add(item);
            }
        }
    }
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Checkout">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Userid" type="hidden" value="@ViewData["UserId"]" />
            <div class="form-group">
                <label asp-for="Cardid" class="control-label"></label>
                <select asp-for="Cardid" class="form-control" asp-items="ViewBag.Cardid"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Purchase" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<h3>Cart</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Sub Total</th>
        </tr>
    </thead>
    <tbody>
        @if (carts.Count > 0)
        {
            decimal subTotal = 0;
            foreach (Item item in carts)
            {
                subTotal += (item.Game.Price * item.Quantity);
                <tr>
                    <td>@item.Game.Title</td>
                    <td>@item.Game.Price</td>
                    <td>@item.Quantity</td>
                    <td>@subTotal</td>
                </tr>

                total += subTotal;
            }
        }
        <tr>
            <td align="right" colspan="3">Total</td>
            <td>
                @total
            </td>
        </tr>
    </tbody>
</table>
