@model IEnumerable<VirtualGameStore.Models.Order>

@{
    ViewData["Title"] = "Orders";
}

<h2>Your Orders</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Card.Cardnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Card.Cardnumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Title)
            </td>
            <td>
                <a asp-action="Download" asp-controller="Game" asp-route-id="@item.Game.Title">Download</a>
            </td>
        </tr>
}
    </tbody>
</table>
