@model IEnumerable<VirtualGameStore.Models.Order>

@{
    ViewData["Title"] = "Orders";
}

<h2>Index</h2>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cardid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eventgame)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cardid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eventgame.Eventgameid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName + " " + item.User.LastName)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Orderid">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item.Orderid">Details</a> |
                @*<a asp-action="Delete" asp-route-id="@item.Orderid">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
