@model IEnumerable<VirtualGameStore.Models.Cart>

@{
    ViewData["Title"] = "Shopping Cart";
}

@using System;
@using System.Collections.Generic;
@using System.Linq;
@using VirtualGameStore.Models;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

@{
    List<Item> carts = new List<Item>();
    String cart = HttpContextAccessor.HttpContext.Session.GetString("cart");
    String[] rows = null;

    if (cart != null)
    {
        rows = cart.Split(",");
    }

    Decimal total = 0;
    if (rows != null && rows.Length > 0)
    {
        foreach (String row in rows)
        {
            if (!row.Equals(""))
            {
                String[] items = row.Split(";");

                Game g = new Game();
                g.Gameid = Convert.ToDecimal(items[0]);
                g.Title = items[1];
                g.Price = Convert.ToDecimal(items[2]);
                int q = Convert.ToInt32(items[3]);

                Item item = new Item { Game = g, Quantity = q };

                carts.Add(item);
            }
        }
    }
}

<h2>Cart Page</h2>

<table class="table">
    <thead>
        <tr>
            <th>Option</th>
            @*<th>Id</th>*@
            <th>Name</th>
            @*<th>Photo</th>*@
            <th>Price</th>
            <th>Quantity</th>
            <th>Sub Total</th>
        </tr>
    </thead>
    <tbody>
        @if (carts.Count > 0)
        {
            decimal subTotal = 0;
            foreach (Item item in carts)
            {
                subTotal += (item.Game.Price * item.Quantity);
                <tr>
                    <td><a href="@Url.Action("Remove", "Cart", new { id = item.Game.Gameid })">Remove</a></td>
                    @*<td>@item.Game.Gameid</td>*@
                    <td>@item.Game.Title</td>
                    @*<td><img src="~/Content/Images/@item.Product.Photo" width="60" /> </td>*@
                    <td>@item.Game.Price</td>
                    <td>@item.Quantity</td>
                    <td>@subTotal</td>
                </tr>

                total += subTotal;
            }
        }
        <tr>
            <td align="right" colspan="4">Total</td>
            <td>
                @total
            </td>
        </tr>
    </tbody>
</table>
<br>
<div>
    <a asp-controller="Game" asp-action="Index">Continue Shopping</a>
</div>
