@model VirtualGameStore.Models.Company

@{
    ViewData["Title"] = "Details";
}

<h1>Details of Company</h1>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CeoName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CeoName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Province)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Province)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OfficePhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OfficePhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OfficePhone1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OfficePhone1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OfficePhone2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OfficePhone2)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDatetime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDatetime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedUserid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedUserid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDatetime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDatetime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedUserid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedUserid)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Companyid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
