@model IEnumerable<VirtualGameStore.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h2>List of Users</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TryCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LockDatetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usertype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiveEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDatetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedUserid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDatetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedUserid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TryCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockDatetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usertype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiveEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDatetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUserid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDatetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedUserid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.FirstName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Userid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Userid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Userid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
