@model VirtualGameStore.Models.Creditcard

@{
    ViewData["Title"] = "Details";
}

<h2>Details Card Info.</h2>

<div>
    <h4>Creditcard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cardnumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cardnumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cardholder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cardholder)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.CreatedDatetime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDatetime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedUserid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedUserid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDatetime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedDatetime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedUserid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedUserid)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.DisplayName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Cardid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
