@model IEnumerable<VirtualGameStore.Models.Creditcard>

@{
    ViewData["Title"] = "Index";
}

<h2>List of Credit Cards</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cardnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cardholder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDatetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedUserid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDatetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedUserid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cardnumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cardholder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDatetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUserid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDatetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedUserid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Usertype)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Cardid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Cardid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Cardid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
